@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Project_RentACar.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Car Page - Admin</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="~/adb_style/css/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="~/adb_style/css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="~/adb_style/css/templatemo-style.css">
    <!--
    Product Admin CSS Template
    https://templatemo.com/tm-524-product-admin
    -->
</head>

<body id="reportsPage" style="background-color: white;">
    <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
            <a class="navbar-brand">
                <h1 class="tm-site-title mb-0">Car Admin</h1>
            </a>
            <button class="navbar-toggler ml-auto mr-0"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars tm-nav-icon"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto h-100">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Dashboard", "Adminstrator")">
                            <i class="fas fa-tachometer-alt"></i> Dashboard
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <i class="far fa-file-alt"></i>
                            <span> Reports <i class="fas fa-angle-down"></i> </span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("FeedBackReport", "Adminstrator")">Feedback Report</a>
                            <a class="dropdown-item" href="@Url.Action("RentalReport", "Adminstrator")">Rental Report</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("ManageCar", "Adminstrator")">
                            <i class="fas fa-shopping-cart"></i> List Cars
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ManageAccount", "Adminstrator")">
                            <i class="far fa-user"></i> Accounts
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fas fa-cog"></i>
                            <span> Settings <i class="fas fa-angle-down"></i> </span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="#">Billing</a>
                            <a class="dropdown-item" href="#">Customize</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link d-block" href="@Url.Action("Logout", "Login")">
                            Admin, <b>Logout</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row tm-content-row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
                <div class="">
                    <a style="background-color:black" href="@Url.Action("AddCar", "Adminstrator")"
                       class="btn btn-primary btn-block text-uppercase mb-3">Add new Car.</a>
                    @foreach (Car car in ViewBag.getAllCar)
                    {
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <a href="#">
                                    <div class="fixed-frame">
                                        <img src="@car.Image" alt="Image" class="img-fluid">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <div class="item-1-contents">
                                    <div class="text-center">
                                        <h3><a href="#"> @car.Manufacturer?.ManufacturerName  @car.Model</a></h3>
                                        <div class="rating">
                                            <span class="icon-star text-warning"></span>
                                            <span class="icon-star text-warning"></span>
                                            <span class="icon-star text-warning"></span>
                                            <span class="icon-star text-warning"></span>
                                            <span class="icon-star text-warning"></span>
                                        </div>
                                        <div class="rent-price"><span>$ @car.RentalPrice/</span>day</div>
                                    </div>
                                    <ul class="specs">
                                        <li>
                                            <span>Fuel: </span>
                                            <span class="spec">@car.Fuel</span>
                                        </li>
                                        <li>
                                            <span>Seats: </span>
                                            <span class="spec">@car.Seats</span>
                                        </li>
                                        <li>
                                            <span>Transmission: </span>
                                            <span class="spec">@car.Transmission</span>
                                        </li>
                                        <li>
                                            <span>Year of Manufacturer: </span>
                                            <span class="spec">@car.Year</span>
                                        </li>
                                        <li>
                                            <span>Status: </span>
                                            @if (car.Status == false)
                                            {
                                                <span class="spec">Not Available</span>
                                            }
                                            else
                                            {
                                                <span class="spec">Available</span>
                                            }
                                        </li>
                                    </ul>
                                    <div class="d-flex" style="padding-top:30px; padding-right:100px">
                                        <a asp-action="DeleteCar" asp-route-id="@car.CarId" style="background-color:#008000ab;border-color:#008000ab" class="btn btn-primary">
                                            <i class="fas fa-trash"></i> Delete Car
                                        </a>
                                        <a asp-controller="Adminstrator" asp-action="EditCar" asp-route-id="@car.CarId" class="btn btn-primary">
                                            <i class="fas fa-pencil-alt"></i> Edit Car
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- table container -->


            </div>
        </div>
    </div>
    <style>
        .btn-primary {
            color: #fff;
            background-color: #17a2b8;
            border: 2px solid #fff;
            font-size: 90%;
            font-weight: 600;
            width: max-content;
            display: flex;
            margin-left: auto
        }

        .navbar-nav .nav-link.active {
            background-color: #17a2b8;
            color: #fff;
        }
    </style>

    <script src="~/adb_style/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="~/adb_style/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        $(function () {
            $(".tm-product-name").on("click", function () {
                window.location.href = "edit-product.html";
            });
        });
    </script>
</body>
</html>