@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Project_RentACar.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Car Page - Admin</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="~/adb_style/css/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="~/adb_style/css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="~/adb_style/css/templatemo-style.css">
    <!--
    Product Admin CSS Template
    https://templatemo.com/tm-524-product-admin
    -->
</head>

<body id="reportsPage" style="background-color: white;">
    <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
            <a class="navbar-brand">
                <h1 class="tm-site-title mb-0">Car Admin</h1>
            </a>
            <button class="navbar-toggler ml-auto mr-0"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars tm-nav-icon"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto h-100">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Dashboard", "Adminstrator")">
                            <i class="fas fa-tachometer-alt"></i> Dashboard
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <i class="far fa-file-alt"></i>
                            <span> Reports <i class="fas fa-angle-down"></i> </span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("FeedBackReport", "Adminstrator")">Feedback Report</a>
                            <a class="dropdown-item" href="@Url.Action("RentalReport", "Adminstrator")">Rental Report</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="@Url.Action("ManageCar", "Adminstrator")">
                            <i class="fas fa-shopping-cart"></i> List Cars
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("ManageAccount", "Adminstrator")">
                            <i class="far fa-user"></i> Accounts
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fas fa-cog"></i>
                            <span> Settings <i class="fas fa-angle-down"></i> </span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="#">Billing</a>
                            <a class="dropdown-item" href="#">Customize</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link d-block" href="@Url.Action("Logout", "Login")">
                            Admin, <b>Logout</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row tm-content-row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
                <div class="tm-product-table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Date Of Birth
                                </th>
                                <th>
                                    Phone Number
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Balance
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Is Active
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <form id="icebear" asp-controller="Adminstrator" asp-action="ManageAccount" method="post">
                                @foreach (Customer cus in ViewBag.user)
                                {
                                <tr>
                                    <td>
                                        <input class="input-as-label" id="Id" type="text" value="@cus.CustomerId" readonly="readonly" />
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => cus.FirstName) @Html.DisplayFor(modelItem => cus.LastName)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => cus.DateOfBirth)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => cus.PhoneNumber)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => cus.Email)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => cus.Address)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => cus.Balance)
                                    </td>
                                    <td>
                                        <img class="rounded-circle" style="width:100px; height:100px" src="~/images/@cus.Image" alt="" />
                                    </td>

                                    <td>
                                            @if (cus.CustomerId == 1)
                                            {
                                            <input id="active_@cus.CustomerId" name="active" type="checkbox" checked value="@cus.CustomerId" disabled />
                                            }
                                            else
                                            {
                                                @if (cus.IsActive == true)
                                                {
                                                <input id="active_@cus.CustomerId" name="active" type="checkbox" value="@cus.CustomerId" checked onchange="change('@cus.CustomerId', this.checked)" />
                                                }
                                                else
                                                {
                                                <input id="active_@cus.CustomerId" name="active" type="checkbox" value="@cus.CustomerId" onchange="change('@cus.CustomerId', this.checked)" />
                                                }
                                            }
                                        <p>Is Active</p>
                                    </td>
                                </tr>
                                }
                            </form>
                        </tbody>
                </div>
            </div>
        </div>
    </div>
    <style>
        .btn-primary {
            color: #fff;
            background-color: #17a2b8;
            border: 2px solid #fff;
            font-size: 90%;
            font-weight: 600;
            width: max-content;
            display: flex;
            margin-left: auto
        }

        .navbar-nav .nav-link.active {
            background-color: #17a2b8;
            color: #fff;
        }

        .input-as-label {
            border: none;
            background: transparent;
            font-size: inherit;
            color: inherit;
            cursor: default;
            width: 25px /* Optional: Makes the input non-interactive */
        }
    </style>

    <script src="~/adb_style/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="~/adb_style/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
        function change(customerId, isActive) {
            var form = document.getElementById('icebear');
            var customerIdInput = document.createElement('input');
            customerIdInput.type = 'hidden';
            customerIdInput.name = 'id';
            customerIdInput.value = customerId;

            var activeInput = document.createElement('input');
            activeInput.type = 'hidden';
            activeInput.name = 'active';
            activeInput.value = isActive;

            form.appendChild(customerIdInput);
            form.appendChild(activeInput);
            form.submit();
        }
    </script>
    <script>
        $(function () {
            $(".tm-product-name").on("click", function () {
                window.location.href = "edit-product.html";
            });
        });
    </script>
</body>
</html>