@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up - CarRental </title>
    <link rel="stylesheet" href="~/signup_style/css/css-material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/signup_style/css/css-style.css">
    <meta name="robots" content="noindex, follow">
</head>

<body style="background-image: url('/signup_style/images/car_login.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;background-attachment: fixed">
    <div class="main">
        <div class="container" style="padding-top:20px; width:1070px">
            <div class="signup-content" style="padding-top:45px; padding-bottom:10px; padding-left:50px; padding-right: 45px; border-radius:15px">
                <form asp-controller="SignUp" asp-action="ValidateEmail" method="post" class="signin-form">
                    <h2> Sign up </h2>
                    <div class="form-group">
                        <input type="text" class="form-input" name="fname" id="name" placeholder="First Name" required="" value="@(ViewBag.signup?.firstName ?? "")">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" name="lname" id="name" placeholder="Last Name" required="" value="@(ViewBag.signup?.lastName ?? "")">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" name="email" id="email" placeholder="Email" required="" value="@(ViewBag.signup?.email ?? "")">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" name="password" id="password1" placeholder="Password" required="">
                        <span toggle="#password1" class="zmdi zmdi-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" name="repassword" id="password2" placeholder="Re-Password" required="">
                        <span toggle="#password2" class="zmdi zmdi-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group">
                        Date of Birth<input style="color:burlywood" type="date" class="form-input" name="dob" id="dob" required="" value="@(ViewBag.signup?.dob.ToString("yyyy-MM-dd") ?? "")">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" name="phone" id="phone" placeholder="Phone" required="" value="@(ViewBag.signup?.phone ?? "")">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" name="address" id="address" placeholder="Address" required="" value="@(ViewBag.signup?.address ?? "")">
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" required="">
                        <label style="margin-bottom:0px" for="agree-term" class="label-agree-term"><span><span></span></span>I agree to all statements with Term and Policies.</label>
                    </div>
                    <div style="color: #ffe200; font-weight:400; font-style:italic">@ViewBag.error</div>
                    <div style="padding-left: 60px; padding-top: 20px">
                        <div class="form-group">
                            <button type="submit" id="submit" class="form-submit submit">Sign up</button>
                            <a asp-controller="Login" asp-action="Login" class="submit-link submit">Sign in</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <style>
        .container {
            margin-top: 120px;
            margin-bottom: 70px;
            width: 1123px;
            padding-top: 135px;
            padding-bottom: 115px;
            background-image: none;
            background-repeat: no-repeat;
            background-size: cover;
            -moz-background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            background-position: center center;
            overflow: hidden;
        }

        .signup-content {
            width: 562px;
            background: rgb(0 0 0 / 54%);
        }
    </style>

    <script src="~/signup_style/js/jquery-jquery.min.js"></script>
    <script src="~/signup_style/js/4370-js-main.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v8b253dfea2ab4077af8c6f58422dfbfd1689876627854" integrity="sha512-bjgnUKX4azu3dLTVtie9u6TKqgx29RBwfj3QXYt5EKfWM/9hPSAI/4qcV5NACjwAo8UtTeWefx6Zq5PHcMm7Tg==" data-cf-beacon='{"rayId":"809a63f86e6ec5c5","version":"2023.8.0","b":1,"token":"cd0b4b3a733644fc843ef0b185f98241","si":100}' crossorigin="anonymous"></script>
</body>
</html>

